.card {
  width: 90vw;
  margin: 0 auto 1em;
  padding: 0;
  background: #f5f5f5;
  border: 1px solid var(--main-border-color);
  border-radius: 3px;
  position: relative;
  list-style: none;
}

.card * {
  text-decoration: none;
}

.card *:focus {
  outline: none;
}

.card > a {
  display: block;
  padding: .5em 1em 1em;
}

.card > a:focus {
  outline: 4px auto var(--outline-color);
}

.card:focus {
  outline-color: var(--outline-color);
}

.title {
  font-size: 1.5em;
  line-height: 1.7em;
  color: var(--text-color);
  width: calc(100% - 1.5em);
  margin: 0 0 0.3em;
}

.description {
  font-size: 1em;
  line-height: 1.5em;
  color: var(--text-color);
  margin: 0;
}

.forkMark {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
}

.repoData {
  display: flex;
  align-items: center;
  margin-bottom: 0.6em;
}

.languageColor {
  width: 0.6em;
  height: 0.6em;
  border-radius: 0.3em;
  background: #666;
  display: inline-block;
  margin-right: 0.4em;
}

.languageName {
  color: var(--text-color);
  margin-right: 1em;
}

.stars {
  background: url('/assets/star.svg') center left no-repeat;
  background-size: .8em;
  color: #888;
  text-indent: 1em;
  margin-right: 1em;
}

.createdAt {
  font-style: italic;
  color: #888;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 100%;
  }
}
